<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>
      Hi <%= current_user.email %>
    <% end %>
    <title>
      <% if current_user %>
        <%= current_user.email %>'s Blog
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
  <section class="hero is-primary is-medium">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <%= link_to 'My Blog', homepage_path, class: "navbar-item" %>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <% if current_user %>
                <%= link_to "Create New Post", new_post_path, class:"navbar-item" %>
              <% end %>
            </div>
            <div class="navbar-end">
              <%= link_to "Newsfeed", root_path %>
            </div>
            <div class="navbar-end">
              <% if current_user %>
                <%= link_to "Log out", sign_out_path %>
              <% end %>  
            </div>
          </div>
        </div>
      </nav>
    </div>


    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <%= yield :page_title %>
        </h1>
      </div>

    </div>
  </section>
    <div class="container has-text-right">
        <%= render 'search/form' %>
    </div>

    <%= yield %>
  </body>

</html>
